.row{
    margin-left: 20px;
    color: #fff;
}
.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
   
}
.posters::-webkit-scrollbar{
    display: none;
}
.poster{
    max-height:250px ;
    margin: 10px;
    cursor: pointer;
}

.smallPoster{
    max-height: 150px;
    margin: 10px;
    cursor: pointer;
   
}
.poster:hover{
    transform: scale(1.12);

}
.smallPoster:hover{
    transform: scale(1.12);
}

.closeButton{
  background-color:#111;
 padding: 5px;
  color: white;
  font-size: large;
  cursor: pointer;
}

.closeButton:hover{
    background-color: red;
}